/* font icon declaration */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?tb4c8z');
    src:  url('../fonts/icomoon.eot?tb4c8z#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?tb4c8z') format('truetype'),
      url('../fonts/icomoon.woff?tb4c8z') format('woff'),
      url('../fonts/icomoon.svg?tb4c8z#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
.w {
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr{
    float: right;
}
.style_red {
    color: #c81623;
}
/* shortcut model */
.shortcut{
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1;
}

.shortcut ul li {
    float: left;
}

.shortcut .fr ul li:nth-child(even){
    width: 1px;
    height: 12px;
background-color: #666;
margin: 9px 15px 0;
}

.arrow-icon::after {
    content: '\ea43';
    font-family: 'icomoon';
    margin-left: 6px;
}

/* header */

.header {
    position: relative;
    height: 105px;
    background-color: pink;
}

.logo {
    position: absolute;
    top: 25px;
    width: 171px;
    height: 61px;
    background-color: skyblue;
}
.logo a {
    display: block;
    width: 171px;
    height: 61px;
    background: url(../images/EShop-logos.png) no-repeat;
    font-size: 0;
}

/* Search Pattern */
.search {
    position: absolute;
    left: 346px;
    top: 25px;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
}

.search input{
    float: left;
    height: 32px;
    width: 454px;
    padding-left: 10px;
}

.search button {
    float: left;
    width: 80px;
    height: 32px;
    background-color: #b1191a;
    font-size: 16px;
    color:#fff;
}

.hotwords {
    position: absolute;
    top: 66px;
    left: 346px;
}
.hotwords a {
    margin: 0 10px;
}