.main {
    width: 980px;
    height: 455px;
    margin-top: 10px;
    margin-left: 220px;
}
.focus {
    float: left;
    width: 721px;
    height: 455px;
    background-color: purple;
}

.focus img {
    height: 455px;
    width: 721px;
}

.bargain img {
    height: 81px;
    width: 250px;
}
.newsflash {
    float: right;
    width: 250px;
    height: 455px;
    background-color: skyblue;
}

.news {
    height: 165px;
    background-color: pink;
}

.lifeservice {
    height: 209px;
    background-color: purple;
}